@tailwind base;
@tailwind components;
@tailwind utilities;

.sideimg {
    background-image: url('side.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.sideimg2 {
    background-image: url('side2.png');

    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat;     */
}

.customButton2 {
    background-color: transparent;
    border: 1px solid #4443A6;
    padding: 10px;
    width: inherit;
    color: #4443A6;
    ;
    border-radius: 3px;
    transition: all 1s;
    font-weight: bolder;
}

.customButton {
    background-color: #4443A6;
    padding: 10px;
    width: inherit;
    color: #ffffff;
    border-radius: 5px;
    transition: all 1s;


}

.customButton:hover {
    background-color: #4443A6;
    transform: scale(1.11);
    padding: 10px;
    width: inherit;
    color: #ffffff;
    border-radius: 10px;

}

.customButton2:hover {
    background-color: #4443A6;
    padding: 10px;
    width: inherit;
    color: #ffffff;
    border-radius: 3px;

}

.customButton:focus-visible {
    transform: scale(0.8);

}

.shadowed {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}